@import "tailwindcss"; 

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap/dist/css/bootstrap.min.css"; 

/* Styling for the background of the hero section */
.hero{
  background-color:  #14229c;
  border-style: groove;
  border-color: #14229c;
  border-width: 5px;
  color: white;
}

/* Styling for the background of the about section */
.about-section {
  background-color: #14229c;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* Styling for the header in the about section */ 
.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; 
  text-align: center;
}

/* Styling for the skills section */
.skills-header {
  text-align: center;
  margin-bottom: 2rem;
}
.skills-section {
  background-color: #14229c;
  color: black; 
  border-style: groove;
  border-color: #14229c;
  border-width: 5px;
}
  
/* Styling for the projects section */
.projects-section {
  background-color: #14229c;
  color: black;
}

/* styling for the contact section */
.contact-section {
  background-color: #14229c;
  border-style: groove;
  border-color: #14229c;
  border-width: 5px;
  padding: 2rem;
  border-radius: 0.5rem;
}